<h1 class="fontTitle mt-5 mb-5">Messgerie</h1>
<app-new-message></app-new-message>
<div class="list-group mt-3 container">
    <div *ngIf="messages">
        <li *ngFor="let message of messages" class="list-group-item mb-1">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{message.title}}</h5>
                <small> {{message.timeDiff}} </small>
            </div>
            <div class="d-flex w-100 justify-content-between">
                <p class="mb-1"> {{message.message}} </p>
                <!--  <div>
                    <a class="btn btn-outline-primary btn-sm" href="/messages/edit?_id={{_id}}">1<i class="far fa-edit"></i></a>
                    <a class="btn btn-outline-primary btn-sm" href="/messages/delete?_id={{_id}}">2<i class="far fa-trash-alt"></i></a>
                </div> -->

            </div>
        </li>
    </div>
    <div *ngIf="!messages">
        Il n'y a pas de message...
    </div>

</div>
