<div class="container">
    <!-- section 1 -->
    <div class="row mission">
        <div class="col-2 bottom">
            <div class="circle">1</div>
        </div>
        <div class="col-8">
            <p><strong>Comprend, analyse</strong></p>
            <p>Apprendre le sujet du projet et les logiciels, analyse des besoins du client.</p>
        </div>
    </div>
    <!-- path 1-2-->
    <div class="row timeline">
        <div class="col-2">
            <div class="corner top-right"></div>
        </div>
        <div class="col-8">
            <hr/>
        </div>
        <div class="col-2">
            <div class="corner left-bottom"></div>
        </div>
    </div>
    <!-- section 2 -->
    <div class="row justify-content-end mission">
        <div class="col-8">
            <p><strong>Modélisation, amélioration</strong></p>
            <p>Reprise du travail commencé par une autre stagiaire, correction des erreurs et amélioration pour continuer son travail.</p>
        </div>
        <div class="col-2 full">
            <div class="circle">2</div>
        </div>
    </div>
    <!-- path 2-3-->
    <div class="row timeline">
        <div class="col-2">
            <div class="corner right-bottom"></div>
        </div>
        <div class="col-8">
            <hr/>
        </div>
        <div class="col-2">
            <div class="corner top-left"></div>
        </div>
    </div>
    <!-- section 3 -->
    <div class="row mission">
        <div class="col-2 full">
            <div class="circle">3</div>
        </div>
        <div class="col-8">
            <p><strong>Création de la base de données</strong></p>
            <p>Récupération et gestion des données : transformation, nettoyage et calcul des données dont la structure originale n’était pas adaptée à l’analyse, puis création d’une base de données décisionnelle à l’aide de Talend.</p>
        </div>
    </div>
    <!-- path 3-4-->
    <div class="row timeline">
        <div class="col-2">
            <div class="corner top-right"></div>
        </div>
        <div class="col-8">
            <hr/>
        </div>
        <div class="col-2">
            <div class="corner left-bottom"></div>
        </div>
    </div>
    <!-- section 4 -->
    <div class="row justify-content-end mission">
        <div class="col-8">
            <p><strong>Restitution</strong></p>
            <p>Création de tableaux de bord sur le logiciel Cognos pour afficher des informations analysées.</p>
        </div>
        <div class="col-2 full">
            <div class="circle">4</div>
        </div>
    </div>
    <!-- path 4-5-->
    <div class="row timeline">
        <div class="col-2">
            <div class="corner right-bottom"></div>
        </div>
        <div class="col-8">
            <hr/>
        </div>
        <div class="col-2">
            <div class="corner top-left"></div>
        </div>
    </div>
    <!-- section 5 -->
    <div class="row mission">
        <div class="col-2 top">
            <div class="circle">5</div>
        </div>
        <div class="col-8">
            <p><strong>Vérification, documentation</strong></p>
            <p>Véririfation des données sorties avec les anciens rapports. Rédaction de tous les détails sur le traitement des données pour les autres employés.</p>
        </div>
    </div>
</div>
