footer {
    color: #3d3d3d;
    padding-top: 2rem;
    text-align: center;
    background-color: #fcfafa;
    padding-bottom: 3rem !important;
}

.footer-title {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.5rem;
}

.footer-text {
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 2rem;
}

footer a {
    color: #333333;
}

.row-icon {
    width: 80%;
    margin: 0 auto;
}

.icon-social {
    transition: .2s;
    padding: 0;
}

.icon-social:hover {
    transform: scale(1.3);
}

.fa-linkedin {
    color: #4875B4;
}

.fa-facebook {
    color: #3b5998
}

.fa-github {
    color: #333
}

@media (max-width: 768px) {
    .icon-social {
        font-size: 8vw;
        margin: 0.1rem;
    }
}

footer .img-fluid {
    max-width: 10rem;
}

footer .row {
    margin: 0 auto;
    width: 90%;
}


/* footer .footer-hr {
  margin-bottom: 0.3rem;
  font-family: 'Nerko One', cursive;
  font-size: large;
} */

hr {
    border-top: 1px solid #706c61;
}

hr.light {
    /* width: 75%; */
    margin-top: .8rem;
    margin-bottom: 1rem;
}


/* hr.light-100 {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0.3rem;
} */

footer .col-md-4 {
    padding: 0.5rem;
}

footer p {
    margin-bottom: 0.2rem;
}
