<!--- Footer -->
<footer class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <hr class="light">
        </div>
        <div class="col-md-4 footer-title">
            Site de Shuyuan
        </div>
        <div class="col-md-4">
            <hr class="light">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid mx-auto" src="/assets/image/lsy.png">
        </div>
        <div class="col-md-4 footer-text">
<!--             <p>Page d'acceuil</p>
            <p>About me</p>
            <p>M'envoyez un email</p>
            <p>Laissez un message</p> -->

        </div>
        <div class="col-md-4">
            <div class="row row-icon">
                <a class="col-2 mx-auto icon-social" href="https://www.linkedin.com/in/shuyuan-lyu-899a06174/" target="_blank">
                    <img src="/assets/image/icon/linkedin.png" alt="">
                </a>
                <a class="col-2 mx-auto icon-social" href="https://github.com/ShuyuanLYU" target="_blank">
                    <img src="/assets/image/icon/github.png" alt="">
                </a>
                <a class="col-2 mx-auto icon-social" href="https://www.facebook.com/profile.php?id=100009135690461" target="_blank">
                    <img src="/assets/image/icon/facebook.png" alt="">
                </a>
            </div>
        </div>


    </div>




</footer>
