<div class="container" id="aboutme">
    <div class="title">
        <h1 class="fontTitle">Profil</h1>
        <p class="lead">Je suis une développeuse informatique junior.</p>
    </div>

    <hr>
    <h3>Détails</h3>
    <div class="row padding3 mb-3">
        <div class="col-md-4 col-sm-12">
            <img class="toCenter" src="/assets/image/lsy.png">
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="row">
                <div class="col-6">
                    <div class="toCenter">
                        <strong>Nom : </strong>
                        <p>LYU Shuyuan</p>
                        <strong>Nationalité :</strong>
                        <p>Chinoise</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="toCenter">
                        <strong>Location :</strong>
                        <p>Lyon, France</p>
                        <strong>Loisirs :</strong>
                        <p>Cuisine, Ukulélé, Guitare, Dessin</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <h3>Voici qui je suis</h3>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <p> <span class="tab"></span>J'ai 30 ans et suis d'origine chinoise et je vis en France depuis 5 ans, je parle couramment le français. J'ai obtenu mon Master Informatique en septembre 2020 et je recherche un travail à Lyon pour un poste du développeuse
                web / logiciel. Je souhaite vivre en France car c'est un pays que j'aime.</p>

        </div>
        <div class="col-md-6 col-sm-12">
            <p> <span class="tab"></span>J'adore mon métier. J'aime prendre du temps pour développer et améliorer mon code. J'aime être impliquée dans des travaux en groupe, comme cela je peux apprendre plus. Je suis rigoureuse, passionnée et je ne renonce
                pas aux problèmes compliqués.</p>
        </div>

    </div>
</div>
