<div class="container aboutMe">
    <div class="title">
        <h1>Profil</h1>
        <p class="lead">Je suis une développeuse informatique junior.</p>
    </div>

    <hr>
    <h3>Détails</h3>
    <div class="row padding3 mb-3">
        <div class="col-md-4 col-sm-12">
            <img class="toCenter" src="/assets/image/lsy.png">
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="row">
                <div class="col-6">
                    <div class="toCenter">
                        <strong>Nom : </strong>
                        <p>LYU Shuyuan</p>
                        <strong>Nationalité :</strong>
                        <p>Chinoise</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="toCenter">
                        <strong>Location :</strong>
                        <p>Lyon, France</p>
                        <strong>Loisir :</strong>
                        <p>Cuisine, Ukulélé, Guitare, Dessin</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <h3>Voici qui je suis</h3>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <p> <span class="tab"></span>Je suis diplômé en Master Informatique en 2020. Je cherche un travail à Lyon, France pour un poste du développement web / logiciel Front-end & Back-end. Vouz pouvez trouver mes expériences et mes compétances dans le
                suivant de ce site(coming soon) </p>

        </div>
        <div class="col-md-6 col-sm-12">
            <p> <span class="tab"></span>J'adore développment front-end, l'analyse des données ainsi que l'algorithe, J'aime prendre du temps pour corriger les problèmes et améliorer l'application web. J'aime travailler en groupe, comme ça je peux apprendre
                plus. Je suis rigouruse, je suis passionner pour des nouvelles technlolgies. </p>

        </div>

    </div>
</div>
