<h1 class="fontTitle">
    Formation</h1>

<div class="container">
    <article>
        <div class="text">
            <h2>2018-2020<br>Master Informatique</h2>
            <p>Génie logiciel (conception de systèmes logiciels, architectures logicielles et qualité) et modèles d’interaction (parallélisme, applications et systèmes répartis, architectures orientées services).</p>
        </div>
        <div class="image" style="background-image: url('/assets/image/formation/usmb.jpg')"></div>
    </article>

    <article>
        <div class="text">
            <h2>2016-2018<br>Licence Informatique</h2>
            <p>les fondements de l’informatique (algorithmique, structures de données) ainsi qu'en génie logiciel (programmation, bases de données, gestion de projets).</p>
        </div>
        <div class="image" style="background-image: url('/assets/image/formation/usmb.jpg')"></div>
    </article>

    <article>
        <div class="text">
            <h2>2015-2016 Français</h2>
            <p>Apprentissage de la langue française jusqu'au niveau B2.</p>
        </div>
        <div class="image" style="background-image: url('/assets/image/formation/usmb.jpg')"></div>
    </article>

    <article>
        <div class="text">
            <h2>2013-2015 Français</h2>
            <p>Début d'apprentissage de la langue française afin de pouvoir faire mes études en France.</p>
        </div>
        <div class="image" style="background-image: url('/assets/image/formation/tianjin.jpeg')"></div>
    </article>

    <article>
        <div class="text">
            <h2>2009-2013<br>Licence Gestion informationnelle et système d'information</h2>
            <h3></h3>
            <p>Les fondements théoriques du management, des connaissances informatiques et technologiques. Mon diplôme obtenu correspond à BAC+3 (Tianjin, Chine)</p>
        </div>
        <div class="image" style="background-image: url('/assets/image/formation/tianjinshifan.jpg')"></div>
    </article>

    <article>
        <div class="text"></div>
        <div class="image">
            <div class="last">
                <h3>Mes études<br>jusqu'au lycée<br>en Chine</h3>
            </div>
        </div>
    </article>

</div>
