.section {
    padding: 100px;
}

.textBx {
    text-shadow: 2px 2px 5px #706c61;
}

.banner {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('http://shuyuan-lyu.com/assets/image/banner/background_0.png');
    background-size: 150% contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -o-background-size: 150% contain;
    -moz-background-size: 150% contain;
    -webkit-background-size: 150% contain;
}

.banner h1 {
    color: #FFF;
    font-size: 3em;
    font-weight: 500;
    line-height: 1.5em;
}

.textBx text {
    /* transform: translateY(100%); */
    display: inline-block;
}

.banner h1 span {
    font-size: 1.5em;
    font-weight: 700;
}

.banner h2 {
    font-size: 1.5em;
    color: #FFF;
    font-weight: 500;
}
